<div class="message-list">
  <table class="list-of-messages">
    <h3 class="message-list-title">Messages</h3>
    <tbody>
      <tr class="message-list-header">
        <td class="sender">Sender</td>
        <td class="sender">sender_id</td>
        <td class="message-text">Message</td>
        <td class="message-time">Sent at</td>
        <% for (let mess of conversation) { %>
          <% if(mess.sender_id !== mess.seller_id) { %>
            <tr class="single-message">
              <td class="sender">
                Sender Name
              </td>
              <td class="sender">
                <%= mess.sender_id %>
              </td>
              <td class="message-text">
                <%= mess.message %>
              </td>
              <td class="message-time">
                <%= mess.time %>
              </td>
              <td class="reply-btn"><a href="/messages/<%= user_id %>/<%= mess.sender_id %>/<%= product_id %>"><button>Reply</button></a></td>
            </tr>
            <% } %>
          <% } %>
    </tbody>
  </table>
</div>
