<!DOCTYPE html>
<html lang="en">

<head>
  <title>Product negotiation</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
</head>

<body>
  <header>
    <%- include('./partials/_navbar'); %>
  </header>
  <main class="container">
    <div class="message-body">
      <section class="new-message">
        <div id="alert">
          <!-- Error message goes here! -->
        </div>
        <form method="POST" id="message-form" action="/messages/<%=user_id %>/<%=receiver_id%>/<%=product_id%>">
          <div class="message-type">
            <textarea name="message" id="message-text" placeholder="Type a message here"></textarea>
            <button type="submit">Send</button>
          </div>
          <hr>
        </form>
      </section>
      <div class="image-conversation">
        <div class="img-title">
          <div class="product-image"><img src="<%= conversation[0].img_url %>" /></div>
          <h3>
            <%= conversation[0].title %>
          </h3>
        </div>
        <section class="messages" id="messages-container">
          <% for(let mess in conversation) { %>
                <li class="sender">
                  <%= conversation[mess].message %>
                </li>
                <p>Sent by <%= conversation[mess].name %> @ <%= conversation[mess].time %>
                </p>
              <% } %>
        </section>
      </div>
      <hr>
    </div>
  </main>
  <footer class="footer">
    <%- include('./partials/_footer'); %>
  </footer>
</body>

</html>
