<!DOCTYPE html>
<html lang="en">

<head>
  <title>TechMarket</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS links  -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- End of CSS links -->

</head>
<!-- Start of body -->

<body>
  <!-- Start of Header -->
  <header>
    <nav class="navbar fixed-top navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-brand" id="navbarNav">
          <a class="navbar-logo" href="/">
            <!-- <img src="./assets/logo@1x.png" alt="TECHMARKET" /> -->
            <h1 class="site-name">TECHMARKET</h1>
          </a>
        </div>
        <div class="navbar-items">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/products">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Signup</a>
            </li>
          </ul>
          <form class="d-flex" method="GET" action="/search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">></button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <div class="featured-section">
    <a href="/products/featured">
      <h3 class="categories-title">Products</h3>
    </a>
    <table id="featured">
      <tbody>
        <tr class="product-row">
          <% for (let product of products) { %>
            <td class="product-block">
              <span class="product-thumbnail">
                <img src="<%= product.img_url %>" alt="<%= product.title %>" />
              </span>
              <span class="product-details">
                <h3 class="product-title">
                  <%= product.title %>
                </h3>
                <hr>
                <h4 class="product-price">Price: $<%= ((product.price) / 100).toFixed(2) %>
                </h4>
                <hr>
                <span class="product-buttons">
                  <a href="/products/product/<%= product.id %>"><button class="view-details">View product
                      details</button></a>
                  <button class="add-to-wishlist">Add to wishlist</button>
                  <button class="contact seller">Contact seller</i></button>
                </span>
              </span>
            </td>
            <% } %>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Start of Footer -->
  <footer class="footer">
    <%- include('./partials/footer'); %>
  </footer>
  <!-- End of Footer -->
</body>
<!-- End of body -->

</html>
