<!DOCTYPE html>
<html lang="en">

<head>
  <title>TechMarket</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS links  -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- End of CSS links -->



</head>
<!-- Start of body -->

<body>
  <!-- Start of Header -->
  <header id="page-header">

    <%- include('./partials/_navbar') %>
      <div class="tagline"><text>BUY, SELL, WIN.</text></div>

  </header>
  <div class="filter-by-price">
    <form method="post" action="/products">
      <input label="min" type="number" name="minimum_price">
      <input label="max" type="number" name="maximum_price">
      <button type="submit" value="Filter">Filter</button>
    </form>
  </div>
  <div class="featured-section">
    <a href="/products">
      <h3 class="categories-title">All Listings</h3>
    </a>
    <table id="featured">
      <tbody>
        <tr class="product-row">
          <% for (let product of products) { %>
            <td class="product-block">
              <% if (product.featured === true ) { %>
                <div class="featured-tag stack-top">
                  <h3><i class="fas fa-star"></i> Featured</h3>
                </div>
              <% } else { %>
                <div class="empty-featured-tag">
                </div>
                <% } %>
              <span class="product-thumbnail">
                <a href="/products/product/<%= product.id %>"><img src="<%= product.img_url %>"
                    alt="<%= product.title %>" style="width: 200px; height: 200px" /></a>
              </span>
              <span class="product-details">
                <h3 class="product-title">
                  <%= product.title.slice(0, 16) %>
                </h3>
                <hr>
                <h4 class="product-price">Price: $<%= ((product.price) / 100).toFixed(2) %>
                </h4>
                <hr>
                <% if (product.sold===true) { %>
                  <div class="sold-div">
                    <p class="sold-text">SOLD!</p>
                  </div>
                  <% } else {%>
                    <span class="product-buttons" id="pdt_<%=product.id%>">
                      <a href="/products/product/<%= product.id %>"><button class="view-details">View product
                          details</button></a>
                      <% if (product.wishlist===true) { %>
                        <form class="remove-wishlist-form">
                          <button class="remove-from-wishlist">Remove from wishlist</button>
                        </form>
                        <% } else if (product.owner_id===user_id) { %>
                          <div class="placeholder-div"></div>
                          <% } else { %>
                            <form class="add-wishlist-form">
                              <button class="add-to-wishlist">Add to wishlist</button>
                            </form>
                            <% } %>
                    </span>
                    <% } %>
              </span>
            </td>
            <% } %>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Start of Footer -->
  <footer class="footer">
    <!-- <%- include('./partials/_footer'); %> -->
  </footer>
  <!-- End of Footer -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/users.js"></script>
</body>
<!-- End of body -->

</html>
